body.dark {
  --bg: #10131C;
  --white: #1A1F2E;
  --line: #2B3145;
  --gray: #9099AC;
  --navy: #6C86D6;
  --navyDark: #536BC0;
  color: #B9C4F0;
}

body.dark select { background: var(--white); color: #B9C4F0; }
body.dark input { background: var(--white); color: #B9C4F0; }
